    <script src="http://localhost:3000/jquery/jquery.min.js"></script>
    <script src="http://localhost:3000/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function(){
            //////
        })
    </script>
</body>
</html>