<div class="col-4 mt-2">
    <p>
        {{ nombre }} 
        <span class="text-success"> ${{precio}}</span>
    </p></br>      
    <button type="button" class="btn btn-outline-light mb-2" id="{{nombre}}">
        <img src="imgs/{{imagen}}" width="150px" height="auto" id="imagen">
    </button>
</div>    